div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  div > div > div {
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #e6e6e6;
    width: 400px;
  }
  